.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto 40%;
}

.ordered_item {
  display: grid;
  grid-template-columns: auto auto 50px;
}

.item_div {
  display: grid;
  grid-template-columns: auto auto auto;
}

div {
  border: 1px solid blue;
}

.image {
  height:80px;
  width: auto;
}

.image_button {
  border-radius: 5px;
  height: 70px;
  width: auto;
  box-shadow: 2px 2px 3px 0 rgba(50, 50, 50, 0.75);
}

.main_cart_image {
  height: 100px;
}

.image_button:active {
  box-shadow: 0 0 0 0;
  transform: translateY(3px);
}

.line {
  background: grey;
  height: 3px;
  width: 80%;
  margin: 5px auto;
}

.delivery_div {
  display: grid;
  grid-template-columns: auto auto;
}

.total {
  display: grid;
  grid-template-columns: auto auto;
}